cpp/.vs/cpp/v16/.suo
cpp/.vs/cpp/v16/Browse.VC.db
cpp/cpp/cpp.vcxproj.user
cpp/cpp/Debug/cpp.exe.recipe
cpp/cpp/Debug/cpp.log
cpp/cpp/Debug/main.obj
cpp/cpp/Debug/vc142.idb
cpp/cpp/Debug/vc142.pdb
cpp/cpp/Debug/cpp.tlog/CL.command.1.tlog
cpp/cpp/Debug/cpp.tlog/CL.read.1.tlog
cpp/cpp/Debug/cpp.tlog/CL.write.1.tlog
cpp/cpp/Debug/cpp.tlog/cpp.lastbuildstate
cpp/cpp/Debug/cpp.tlog/link.command.1.tlog
cpp/cpp/Debug/cpp.tlog/link.read.1.tlog
cpp/cpp/Debug/cpp.tlog/link.write.1.tlog
*.ipch
*.recipe
*.log
*.obj
*.idb
*.pdb
*.tlog
*.exe
*.ilk
